#copyright {
  text-align: center;
}

div > table.MuiTable-root {
  table-layout: fixed !important;
}

.MuiTypography-root.MuiTypography-h6 {
  white-space: normal !important;
  text-align: center;
  font-weight: bold;
}

tbody.MuiTableBody-root > * > :nth-child(3) { 
  color: red !important
}

tbody.MuiTableBody-root > * > :nth-child(5) { 
  color: red !important
}

tbody.MuiTableBody-root > :nth-of-type(odd) {
  background-color: rgb(167, 176, 185);
}

.MuiTableRow-root.MuiTableRow-head > * {
  font-weight: bold;
  background-color: yellow;
}

#table > :first-child > :first-child{
  background-color: red;
}

@media only screen and (max-width: 400px) {
  tbody.MuiTableBody-root > tr.MuiTableRow-root > :first-child {
    word-break: break-word;
  }

  thead.MuiTableHead-root > :first-child > *{    
    font-size: 10px;
  }
}