#copyright {
  text-align: center;
}

.MuiTypography-root.MuiTypography-h6 {
  white-space: normal !important;
  text-align: center;
  font-weight: bold;
}

.MuiTableBody-root > :nth-of-type(odd) {
  background-color: rgb(167, 176, 185);
}

.MuiTableRow-root.MuiTableRow-head > * {
  font-weight: bold;
  background-color: yellow;
}

#table > :first-child > :first-child{
  background-color: red;
}
