.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#copyright {
  text-align: center;
}

.MuiTypography-root.MuiTypography-h6 {
  white-space: normal !important;
  text-align: center;
  font-weight: bold;
}

.MuiToolbar-root.MuiToolbar-regular.MTableToolbar-root-33.MuiToolbar-gutters {
  background-color: red;
}

.MuiTableBody-root > :nth-of-type(odd) {
  background-color: rgb(167, 176, 185);
}

.MuiTableCell-root.MuiTableCell-head.MTableHeader-header-153.MuiTableCell-alignLeft {
  background-color: black;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
